---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Front-End Mastery</h2>
		<p>
			Expert in React, JavaScript, and CSS, building responsive and
			user-friendly web experiences. Passionate about creating scalable
			and accessible solutions.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="cloud-arrow-down"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Observability</h2>
		<p>
			Skilled in New Relic, Elastic, and Grafana, optimizing applications
			for speed and reliability with a focus on real-time monitoring and
			performance tuning.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Problem Solver</h2>
		<p>
			Driven to find creative solutions using AI, A/B testing, and modern
			development tools, delivering efficient and impactful results.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
